# Required connection configs for Kafka producer, consumer, and admin
# bootstrap server - do not include the protocol e.g. pkc-2396y.us-east-1.aws.confluent.cloud:8443
bootstrap.servers=<FILL WITH CONFLUENT BOOTSTRAP SERVER>
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
# username for kafka
sasl.username=<FILL WITH CONFLUENT USERNAME>
# password for kafka
sasl.password=<FILL WITH CONFLUENT PASSWORD>
compression.type=lz4
batch.size=10000
request.timeout.ms=120000
queue.buffering.max.messages=200000